<div class="fixer-card">
  <div class="fixer-avatar">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
    <div class="fixer-price"><p>22&euro;<br>/h</p></div>
  </div>
  <div class="fixer-detail">
    <h3>Sandro Marques</h3>
    <p>4,5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
    <p style="color: #0CD68D">available</p>
  </div>
  <div class="fixer-btn">
    <%= link_to 'Select', '', class: 'btn btn-ghost' %>
  </div>
</div>
