<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <!-- <a class="back" href="#">
    Back
  </a>
  <a class="cancel" href="#">
    X
  </a> -->

  <%= link_to "Back", :back, class: "back"%>
  <%= link_to "X", root_path, class: "cancel"  %>
</div>
