.category-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  margin-top: 16px;
}

.card-vertical {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vertical > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-vertical h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 12px;
  text-align: center;
  color: $dark-blue;
}

.card-vertical p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.fixer-card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.fixer-card > .fixer-avatar {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.fixer-card > .fixer-avatar > .avatar {
  margin-top: 6px;
  margin-right: 6px;
  width: 80%;
}
.fixer-price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark-blue;
  color: $dark-yellow;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 35px;
}
.fixer-price p {
  margin: 0;
  font-size: 12px;
  text-align: center;
  line-height: 0.8rem;
}
.fixer-card .fixer-detail p {
  margin-bottom: 8px;
  color: $dark-blue;
}
.fixer-card .fixer-btn {
  display: flex;
  align-items: flex-start;
}
.card-sq {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-sq .fixer-avatar .avatar {
  width: 40%;
}
.card-sq p {
  color: $dark-blue;
  margin-bottom: 8px;
}

