<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2>Chat with Ellyn</h2>
    </div>
    <div class="col-12 chat-box">
        <div class="col-8 offset-4">
          <div class="chat-bubble-mine">
            <p>hola</p>
          </div>
        </div>
        <div class="col-8">
          <div class="chat-bubble">
            <p>holasadfas</p>
          </div>
        </div>
        <div class="col-8 offset-4">
          <div class="chat-bubble-mine">
            <p>hola</p>
          </div>
        </div>
        <div class="col-8">
          <div class="chat-bubble">
            <p>holadas dsjfkasdjf dsjfkadsf</p>
          </div>
        </div>
        <div class="col-8">
          <div class="chat-bubble">
            <p>holadas dsjfkasdjf dsjfkadsf</p>
          </div>
        </div>
        <div class="col-8 offset-4">
          <div class="chat-bubble-mine">
            <p>das dsjfkasdjf dsjfkadsf</p>
          </div>
        </div>
        <div class="col-6">
          <div class="chat-bubble">
            <p>holadas dsjfkasdjf dsjfkadsf</p>
          </div>
        </div>
    </div>
    <div class="col-12">
      <form action="">
        <input type="text" style="border: 1px solid black;">
        <div class="col-6 offset-3">
          <button class="btn btn-lg">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
