<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">What can we fix?</h2>
    </div>
    <div class="col-6 offset-3">
      <div class="dots">
        <div class="dot current"></div><div class="dot"></div><div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="category-cards">
    <% @categories.each do |category| %>
      <a href=<%= category_problems_path(category) %>>
        <div class="card-vertical">
        <%= image_tag("categories/#{category.name.downcase.split.join('_')}.png") %>
          <div class="card-vertical-infos">
            <div>
              <h3><%= category.name %></h3>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
