<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">What can we fix?</h2>
    </div>
  </div>
  <div class="cards">
    <% @categories.each do |category| %>
      <div class="card-vertical">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <a href=<%= category_problems_path(category) %>>
          <div class="card-vertical-infos">
            <div>
              <h3><%= category.name %></h3>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
